/*----internet self----*/
* {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: 0;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,img{
    padding: 0; margin: 0;
}
body,
html {
    height: 100%;
    font-family: Arial;
}

body {
    width: 100%;
    min-height: 100%;
    border: 0;
    background: #FFF;
}

img {
    border: 0;
}

a {
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

h1 {
    color: #10539c;
    text-align: center;
    font-weight: normal;
}

h2 {
    color: #10539c;
    font-weight: normal;
    text-align: center;
}

h3 {
    margin: 0 auto;
    color: #333333;
    font-weight: bold;
    text-align: left;
}

h5 {
    text-align: center;
    font-size: 16px;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
}

p {
    width: 100%;
    margin: 0 auto;
    color: #666666;
    letter-spacing: 0.7px;
}

.no-margin {
    margin-right: 0 !important;
}

/* 页面整体样式 */

.container-page {
    /* position: relative;
    width: 100%;
    padding: 0;
    background: rgb(29,29,31);
    overflow: hidden; */

    position: relative;
    width: 100%;
    /*设置padding-bottom值大于等于footer的height值，以保证main的内容能够全部显示出来而不被footer遮盖；*/
    box-sizing: border-box;
}

/* .container-page::-webkit-scrollbar, body::-webkit-scrollbar{
    width: 6px;
}
.container-page::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background-color: transparent;
}
.container-page::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color:rgba(144,147,153,0.5);
} */

.container-page>#header .header {
    height: 126px;
    width: 100%;
    /* background: linear-gradient(51deg, rgb(9, 93, 164, 0.75) 0%, rgb(0, 167, 209, 0.75) 100%); */
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    
}

/* 头部 */

.header .logo {
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6.8%;
    box-sizing: border-box;
}
.header .logo img{
    margin-top: -20px;
}
.header .logo label{
    color: white;
    font-size: 26px;
    line-height: 26px;
    vertical-align: middle;
    /* margin-top: 10px; */
    display: inline-block;
    font-weight: bold;
    box-sizing: border-box;

}

.header .tabs {
    float: right;
    height: 100%;
    width: 60%;
    margin-right: 60px;
    /* margin-right: 175px; */
    margin-bottom: 0;
    text-align: right;
}
.header .tabs .tabs-item {
    height: 100%;
    display: inline-block;
    position: relative;
    /* padding-left: 25px; */
    /* padding: 0 22px; */
    cursor: pointer;
    padding: 0 25px;
}
.header .tabs .tabs-item a::after{
    content: "";
    width: 0;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in;
    border-radius: 3px;
}

.header .tabs .tabs-item > a {
    /* color: #121072; */
    color: white;
    height: 60px;
    line-height: 60px;
    margin-top: 30px;
    width: 100%;
    display: inline-block;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    position: relative;
}

.header .tabs .tabs-item:hover a::after {
    width: 100%;
}

.header .tabs .tabs-item:hover .drop-down {
    top: 95px;
    opacity: 1;
    visibility: visible;
    
}


.header .drop-down {
    position: absolute;
    left: 6px;
    top: 50px;
    width: 112px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out 0.4s;
    overflow: hidden;
    box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.25);
}

.header .drop-down .drop-down-item {
    background: transparent;
}

.header .drop-down .drop-down-item hr {
    height: 3px;
    background: transparent;
    margin: 0;
    border: 0;
}

.header .drop-down .part {
    width: 100%;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 24px;
}

.header .drop-down .part1 {
    background: white;
}

.header .drop-down .part1 a {
    /* color: #333 !important; */
    font-weight: 400;
}

.header .drop-down .part li {
    height: 36px;
    line-height: 36px;
    /* border-bottom: 2px solid #eee; */
    /* padding-left: 11px; */
}

.header .drop-down .part li a {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-family: 'MicrosoftYaHeiLight';
    font-weight: 400;
    color: #5D6E80;
    line-height: 48px;
    padding: 0;
    transition: all 0.2s;
}

.header .drop-down .part li a:hover {
    font-size: 16px;
    color: #135995 !important;
    font-weight: bold;
}

.header .drop-down .part li:last-child {
    border: 0;
}

#main-swiper-container {
	width: 100%;
    position: relative;
}

#main-swiper-container > .swiper-container > .swiper-wrapper > .swiper-slide {
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

#main-swiper-container > .swiper-container > .swiper-wrapper > .swiper-slide img{
	width: 100%;
    min-height: 100%;
}

#main-swiper-container > .text-area {
	position: absolute;
	z-index: 99;
	bottom: 28%;
	left: 14%;
}
#main-swiper-container > .text-area p {
	font-size: 56px;
	font-family: "MicrosoftYaHei";
	font-weight: normal;
	color: #FFFFFF;
	line-height: 58px;
	text-shadow: 0px 0px 8px #0A162D;
	/* transition: all 0.5 ease-in-out 0.4s; */
	animation-duration: 5s;
}

.swiper-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-box .swiper-slide{
    text-align: center;
}
.swiper-box .swiper-button-prev, .swiper-box .swiper-button-next{
    width: 50px;
    height: 70px;
    margin-top: -35px;
    background-size: 100% 100%;
}
.swiper-box .swiper-button-prev{
    background-image: url(../images/left.png);
    left: 14px;
}
.swiper-box .swiper-button-prev:hover{
    background-image: url(../images/left_01.png);
}
.swiper-box .swiper-button-next{
    background-image: url(../images/right.png);
    right: 14px;
}
.swiper-box .swiper-button-next:hover{
    background-image: url(../images/right_01.png);
}

.common-box .document-box{
    width: 1120px;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
}
.common-box .document-box h3{
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    text-align: center;
    margin: 20px 0;
}
.common-box .document-box p{
    color: #000000;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
}

.common-box{
    width: 86%;
    /* height: 80vh; */
    height: 72%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.common-box .container{
    position: absolute;
    left: 0;
    right: 112px;
    height: 100%;
    top: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 80px;
    box-sizing: border-box;
    border: 2px solid #0076B1;
}
.common-box .select-opers{
    width: 112px;
    float: right;
    margin-top: 8%;
    list-style: none;
    position: relative;
}
.common-box.rang .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-box.rang .swiper-slide img{
    animation-duration: 1s;
    min-height: 100%;
    min-width: 100%;
}
.common-box.rang .text-area{
    position: absolute;
    right: 5%;
    bottom: 18%;
    z-index: 2;
    width: 485px;
}
.common-box.rang .text-area.white h4, .common-box.rang .text-area.white p{
    color: white;
}
.common-box.rang .text-area h4{
    font-size: 24px;
    margin-bottom: 14px;
    color: #000000;
}
.common-box.rang .text-area p{
    font-size: 18px;
    line-height: 30px;
    text-indent: 40px;
    color: #000000;
}
.common-box.rang .step-area{
    width: 1200px;
    height: 580px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -571px;
    z-index: 2;
}
.common-box.rang .step-area ul{
    width: 100%;
    height: 100%;
    list-style: none;
}
.common-box.rang .step-area ul li{
    height: 100%;
    float: left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.common-box.rang .step-area > ul > li:nth-of-type(1){
    width: 19%;
    margin-right: -66px;
}

.common-box.rang .step-area > ul > li:nth-of-type(2){
    width: 34%;
}
.common-box.rang .step-area > ul > li:nth-of-type(2) p{
    width: auto;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-box.rang .step-area > ul > li:nth-of-type(3){
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: -10px;
}
.common-box.rang .step-area ul li:nth-of-type(4){
    width: 30%;
}


.common-box.rang .step-area ul li:nth-of-type(2) img{
    height: 100%;
    border: none !important;
}
.common-box.rang .step-area ul li:nth-of-type(3) p{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.common-box.rang .step-area ul li:nth-of-type(3) p img{
    width: 100%;
}

.common-box.rang .step-area ul li:nth-of-type(4) ul{
    width: 330px;
    margin-left: 20px;
    height: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.common-box.rang .step-area ul li:nth-of-type(4) ul li{
    float: none;
    width: 100%;
    height: 100px;
    display: block;
}
.common-box.rang .step-area ul li:nth-of-type(4) ul li h4{
    font-size: 40px;
    color: #06519D;
}
.common-box.rang .step-area ul li:nth-of-type(4) ul li p{
    font-size: 28px;
    color: #06519D;
    display: block;
}

.common-box.image-show .swiper-slide img{
    width: 100%;
}
.common-box.intro .left{
    width: 62%;
    height: 100%;
    background: url(../images/companyProfile/about_01_01.jpg) no-repeat center;
    background-size: auto 100%;
    float: left;
}
.common-box.intro .right{
    float: right;
    width: 34%;
    margin-left: 2%;
    background-color: #FFFFFF;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.common-box.intro .right h3{
    font-size: 24px;
    text-align: center;
    color: #000000;
}
.common-box.intro .right section{
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%;
    left: 0;
    overflow: auto;
}
.common-box.intro .right section p{
    font-weight: normal;
    color: #424242;
    text-indent: 38px;
    font-size: 18px;
    line-height: 32px;
}

.mult-image-group{
    width: 100%;
    height: 100%;
    list-style: none;
}
.mult-image-group li{
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
}
.mult-image-group li:nth-last-of-type(1) p{
    border-right: none;
}
.mult-image-group li p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-right: 2px solid #0076B1;
    box-sizing: border-box;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
.mult-image-group li p img{
    /* width: 100%; */
    min-width: 100%;
    min-height: 100%;
}

.mult-image-group li .text-button{
    position: absolute;
    bottom: 18%;
    left: 50%;
    margin-left: -114px;
    z-index: 2;
}

.text-button{
    width: 228px;
    height: 58px;
    line-height: 56px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background: url(../images/qualification-guidelines_03_btn.png) no-repeat center;
    background-size: contain;
}

.law-area{
    list-style: none;
    position: absolute;
    width: 44%;
    right: 6%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.law-area li{
    height: 90px;
    border-bottom: 1px dashed #848484;
    position: relative;
}
.law-area li a{
    text-decoration: none;
    transition: 0.3s;
    height: 100%;
    line-height: 90px;
    color: #000000;
    font-size: 18px;
    width: calc(100% - 90px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
.law-area li span{
   position: absolute;
   right: 0;
   font-size: 18px;
   top: 0;
}

.law-area li:hover a{
    color: #02A7F0;
}
.law-area li:nth-last-child(1){
    margin-bottom: 0;
}


.news-area{
    list-style: none;
    position: absolute;
    width: 48%;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    height: 90%;
    overflow: auto;
}
.news-area li{
    border-bottom: 1px solid #8C8C8C;
    height: 170px;
    cursor: pointer;
    position: relative;
}

.news-area li >div{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-area li >div img{
    max-width: 100%;
    max-height: 100%;
}
.news-area li >section{
    position: absolute;
    top: 0;
    left: 230px;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news-area li >section h4{
    font-size: 20px;
    text-align: left;
    transition: 0.3s;
    margin-bottom: 20px;
}
.news-area li >section h5{
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    position: absolute;
    right: 6px;
    bottom: 0;
    z-index: 10;
    font-weight: bold;
}

.news-area li >section h4:hover, .dp-text-ellipsis-wrapper:hover{
    color: #02A7F0;
}


.dp-text-ellipsis-wrapper {
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 24px;
    font-size: 14px;
    transition: 0.3s;
    color: #696969;
}

.dp-text-ellipsis-wrapper .btn {
	width: 50%;
    height: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    background: linear-gradient(to right,rgba(230,230,230,0.9),#E7E7E7,#E7E7E7, #E9EAEC);
} 
/* .dp-text-ellipsis-wrapper .btn::before {
	position: absolute;
	left: 1px;
	color: #333;
	transform: translateX(-100%);
	content: '...';
} */
.dp-text-ellipsis-wrapper .btn b{
    margin-left: 10px;
}
.dp-text-ellipsis-wrapper .btn span{
    color: #02A7F0;
    cursor: pointer;
    transition: 0.3s;
}
.dp-text-ellipsis-wrapper .btn span:hover{
    text-decoration: underline;
}

.select-opers li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 54px;
}
/* .select-opers li:nth-of-type(1){
    top: 54px;
    z-index: 10;
}
.select-opers li:nth-of-type(2){
    top: 108px;
    z-index: 9;
}
.select-opers li:nth-of-type(3){
    top: 162px;
    z-index: 8;
}
.select-opers li:nth-of-type(4){
    top: 216px;
    z-index: 7;
}
.select-opers li:nth-of-type(5){
    top: 270px;
    z-index: 6;
}
.select-opers li:nth-of-type(6){
    top: 324px;
    z-index: 5;
} */
.select-opers a{
    height: 54px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #135995;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
    color: white;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 5px 6px #030F19;
    font-size: 18px;
}
.select-opers li.active{
    z-index: 99;
}
.select-opers li.active a {
    background-color: #0AA7F6;
    box-shadow: 5px 0 20px #030F19;
}

.select-opers a:hover{
    background-color: #92b6f0;
}

.select-opers li.active a:hover{
    background-color: #41bee6;
}

.scaleAnimate{
	transform: scale(1.2);
	transition: all 20s ease-in-out;
}


/* 尾部 */
#footer {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 16px;
    z-index: 2;
}

#footer .zhuce {
    width: 100%;
    text-align: center;
    font-family: MicrosoftYaHei;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 20px;

}
#footer .zhuce p{
    color: white;
    display: inline-block;
    width: auto;
}
#footer .zhuce a{
    display: inline-block;
    color: #337ab7;
    transition: 0.3s;
}
#footer .zhuce a:hover{
    text-decoration: underline;
}




.container-page{
    min-height: 100%;
    display: flex;
}
#main-swiper-container{
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    
}
#main-swiper-container > #dyBackground{
    min-width: 100%;
    min-height: 100%;
    /* height: 100%; */
   
}
.news-detail, .law-detail{
    width: 1060px;
    margin: 0 auto;
}
.news-detail h3{
    font-size: 30px;
    text-align: center;
    margin: 30px auto 16px auto;
}
.news-detail h4{
    text-align: center;
}
.news-detail p{
    font-size: 14px;
    color: #333333;
    line-height: 32px;
    word-break: break-all;
}
.news-detail img{
    width: 100%;
    display: block;
    margin: 30px auto 40px auto;
}

.law-detail {
    color: #333333;
    line-height: 32px;
}
.law-detail h3{
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
}
.law-detail h4{
    font-size: 16px;
    text-align: center;
    margin: 10px auto 0 auto;
}
.law-detail p{
    line-height: 32px;
    color: #333333;
}


.inner-time{
    text-align: center;
    display: block;
    font-size: 14px;
    color: #AAAAAA;
    margin-bottom: 36px;

}

.text-container{
    padding: 20px 80px !important;
    overflow: auto !important;
    width: 100%;
}

.img-group{
    list-style: none;
    margin: 30px;
}
.img-group li{
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-group li img{
    margin: 0;
    padding: 0;
    width: 90%;
}

    
.back-btn{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    position: absolute;
    right: 80px;
    bottom: 30px;
    background-color: #169BD5;
    z-index: 2;
}

.back-btn:hover{
    background-color: #0AA7F6;
}

.common-box.qualifiy .left{
    position: relative;
    height: 100%;
    /* left: 0;
    top: 0;
    right: 300px; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-box.qualifiy .left .swiper{
    width: 100%;
    height: 100%;
}
.common-box.qualifiy .left .swiper .swiper-img{
    margin-left: -200px;
    max-width: 80%;
    max-height: 80%;
}
.common-box.qualifiy .right{
    width: 300px;
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    bottom: 80px;
    right: 0px;
    padding-right: 50px;
    background-color: white;
    z-index: 3;
}
.common-box.qualifiy .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-box.qualifiy .swiper-img{
    max-width: 100%;
    max-height: 100%;
}

.common-box.qualifiy .swiper-button-next, .common-box.qualifiy .swiper-button-prev{
    width: 104px;
    height: 36px;
    z-index: 2;
    margin: 0;
    right: 124px;
}
.common-box.qualifiy .swiper-button-next{
    top: 20px;
    background: url(../images/up_02.png) no-repeat center;
}
.common-box.qualifiy .swiper-button-next::after, .common-box.qualifiy .swiper-button-prev::after{
    content: "";
    display: none;
}
.common-box.qualifiy .swiper-button-prev{
    top: auto;
    left: auto;
    bottom: 20px;
    background: url(../images/down_02.png) no-repeat center;
}

/* .common-box.qualifiy .swiper-slide-active{
    box-sizing: border-box;
    z-index: 2;
}
.common-box.qualifiy .swiper-slide-active img{
    border: 1px solid #0AA7F6;
    box-sizing: border-box;
} */
.mySwiper .swiper-slide {
   
    opacity: 0.4;
  }
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}


.map-part {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.text-part{
    width: 330px;
    margin-right: -10px;
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.map-part .text-part .con {
    font-size: 14px;
    font-family: 'MicrosoftYaHei';
    font-weight: 400;
    color: #403e3e;
    line-height: 20px;
    margin-bottom: 50px;
    margin-top: -10px;
    display: flex;
}

.map-part .text-part .con img {
    width: 47px;
    height: 47px;
    margin-right: 20px;
    margin-top: -4px;
}

.my-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 360px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-map{
    max-height: 100%;
    max-width: 100%;
}


.mobile-nav-slide{
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: white;
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    display: none;
}
.mobile-nav-slide .iconfont{
    font-size: 50px;
}


.v-center{
    top: 50%;
    transform: translateY(-50%);
}





/* @media screen and (max-width:580px){    */
@media screen and (orientation:portrait) {
    body{
        font-size: 14px;
    } 
    .text-container{
        padding: 20px 40px !important;
    }
    .header .logo label{
        font-size: 36px;
    }
    .mobile-nav-slide{
        display: inline-block;
    }
    .container-page>#header .header{
        z-index: 100;
    }
    .header .logo{
        width: 100%;
        margin-left: 0;
    }
    .header .tabs{
        display: none;
        width: 160px;
        height: 100%;
        position: fixed;
        top: 125px;
        left: 0;
        background-color: white;
        z-index: 2;
        border-right: 1px solid #ddd;
        box-sizing: border-box;
        
    }
    .header .tabs .tabs-item{
        width: 100%;
        height: 100px;
        display: block;
        color: #000000;
        padding: 0;
        
    }
    .header .tabs .tabs-item:nth-of-type(2) .drop-down{
        display: block;
        opacity: 1;
        visibility: visible;
    }
    .header .tabs .tabs-item > a{
        color: #000000;
        height: 96px;
        line-height: 95px;
        font-size: 24px;
        width: 100%;
        float: left;
        margin: 0;
        text-align: center;
        display: block;
        transition: 0;
    }
    .header .tabs .tabs-item > a.unlink.active, .header .tabs .tabs-item > a:active{
        background-color: #0076B1 !important;
        color: white !important;
    }
    .header .tabs .tabs-item > a::after{
        display: none;
    }
   
    
    .header .tabs .tabs-item .drop-down{
        width: calc(100% - 160px);
        height: 100%;
        position: fixed;
        left: 160px;
        top: 125px !important;
        z-index: 20;
        background-color: white;
        transition: 0s;
    }
    .header .tabs .tabs-item .drop-down-item{
        height: 100%;
    }
    .header .drop-down .part li{
        border-bottom: 1px solid #ddd !important;
        
    }
    .header .drop-down .part li,.header .drop-down .part li a{
        height: 94px;
        line-height: 95px;
        font-size: 24px !important;
        text-align: left;
        text-indent: 30px;
        width: 100%;
        margin: 0;
        display: block;
    }


    #main-swiper-container > .text-area{
        width: 100%;
        text-align: center;
        bottom: 45%;
        left: 0;
    }
    .common-box{
        height: 76%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    .common-box .container{
        padding: 30px;
        width: 100%;
        position: static;
        flex: 1;
        overflow: hidden;
        margin-top: 4px;
    }
    .common-box.intro .left{
        width: 100%;
        height: 40%;
    }
    .common-box.intro .right{
        float: none;
        width: 100%;
        height: 60%;
        overflow: auto;
        margin-left: 0;
    }
    .common-box.intro .right h3{
        font-size: 40px;
        margin-top: 20px;
    }
    .common-box.intro .right section{
        top: 90px;
    }
    .common-box.intro .right section p{
        font-size: 30px;
        line-height: 50px;
    }
    .common-box .container .swiper-box{
        height: 40%;
    }
    #newsIndex .container .swiper-box{
        display: none;
    }
    
    .common-box.rang .text-area{
        width: 100% !important;
        margin: 0;
        right: 0;
        padding: 30px;
        box-sizing: border-box;
        position: static;
        height: 60%;
        overflow: auto;
        transform: none;

    }
    .common-box .text-area h4{
        font-size: 40px !important;
        color: #000000 !important;
    }
    .common-box .text-area p{
        font-size: 30px !important;
        line-height: 50px !important;
        color: #000000 !important;
    }


    .common-box.qualifiy .left{
        height: 80%;
    }
    .common-box.qualifiy .right{
        height: 20%;
        width: 100%;
        bottom: 0;
        top: auto;
        padding: 20px !important;
        box-sizing: border-box;
    }
    .common-box.qualifiy .right .swiper-box{
        height: 100%;
    }
    
    .common-box.qualifiy .left .swiper .swiper-img{
        margin-left: 0;
    }

    .common-box.qualifiy .swiper-button-next, .common-box.qualifiy .swiper-button-prev{
        top: 50%;
        width: 36px;
        height: 104px;
    }
    .common-box.qualifiy .swiper-button-prev{
        background-image: url(../images/right_02.png);
        right: 20px;
        /* left: 20px;
        background-image: url(../images/left_02.png); */
    }
    .common-box.qualifiy .swiper-button-next{
        /* right: 20px;
        background-image: url(../images/right_02.png); */
        left: 20px;
        background-image: url(../images/left_02.png);
    }

    .common-box .select-opers{
        float: none;
        position: static;
        width: 100%;
        margin-top: 0;
    }
    .select-opers li{
        top: 0 !important;
        position: relative;
        display: block;
        width: 33.3%;
        float: left;
        height: 80px;
    }
    .select-opers li a{
        border-radius: 0;
        font-size: 30px;
        height: 80px;
        box-shadow: 0 0 4px #0AA7F6 !important;
        
    }
    .law-detail-info{
        height: 70%;
    }


    .common-box.rang .step-area{
        width: 90%;
        margin: 0;
        left: 5%;
        top: 80px !important;
    }
    .common-box.rang .step-area > ul > li{
        height: 36%;
        overflow: hidden;
        box-sizing: border-box;
    }

    .common-box.rang .step-area > ul > li:nth-of-type(1){
        width: 50%;
        margin-right: 0;
    }
    .common-box.rang .step-area > ul > li:nth-of-type(1) img{
        height: 80%;
    }
    .common-box.rang .step-area > ul > li:nth-of-type(2){
        width: 50%;
    }
    .common-box.rang .step-area > ul > li:nth-of-type(2) p img{
        height: 80%;
    }
    .common-box.rang .step-area > ul > li:nth-of-type(3){
        width: 20%;
        height: 20%;
        transform: rotate(90deg);
        display: flex;
        justify-content: space-between;
        margin-left: 40%;
        margin-top: -32px;
    }
    .common-box.rang .step-area > ul > li:nth-of-type(3) p{
        height: 50px;
        
    }
    .common-box.rang .step-area > ul > li:nth-of-type(4){
        width: 100%;
    }
    .common-box.animate-mult .step-area{
        height: 100%;
        position: absolute;
        top: 0;
    }

    .common-box .document-box{
        width: 94%;
    }
    .common-box .document-box h3{
        font-size: 40px;
    }
    .common-box .document-box p{
        font-size: 30px;
        line-height: 50px;
    }
    
    .mult-image-group li{
        width: 100%;
        height: 20%;
        overflow: hidden;
    }
    
    .law-area{
        width: 100%;
        height: 60%;
        overflow: auto;
        position: static;
        transform: none;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .law-area li a{
        font-size: 30px;
        width: calc(100% - 160px);
    }
    .law-area li span{
        font-size: 30px;
        margin-top: 0;
        font-weight: normal !important;
    }
    .law-detail{
        width: 100%;
        font-size: 30px;
        line-height: 50px;
    }
    .law-detail h3{
        font-size: 40px;
        text-align: center;
        margin: 30px auto;
    }
    .law-detail h4{
        font-size: 30px;
        text-align: center;
        margin: 20px auto 0 auto;
    }
    .law-detail p{
        font-size: 30px;
        line-height: 50px;
        margin: 16px 0;
    }
    .back-btn{
        bottom: -80px;
        right: 0;
        font-size: 30px;
        height: 70px;
        line-height: 70px;
        
        
    }
    .common-box.law-detail-info .text-container{
        padding: 30px !important;
    }

    .news-area{
        width: 100%;
        position: static;
        height: 60%;
        transform: none;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .news-area li >section h4{
        font-size: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .dp-text-ellipsis-wrapper{
        font-size: 26px;
        line-height: 40px;
    }
    .news-area li{
        height: 250px;
    }

    .dp-text-ellipsis-wrapper .btn{
        display: none;
    }
    .news-area li >section h5{
        display: none;
    }
    .news-detail{
        width: 100%;
    }

    .news-detail h3{
        font-size: 40px;
    }
    .inner-time{
        font-size: 30px;
    }
    .news-detail p{
        font-size: 30px;
        line-height: 50px;
    }
    .img-group{
        overflow: hidden;
    }
    .img-group li{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .my-map{
        width: 100%;
        height: 50%;
        position: static;
    }
    .my-map img{
        max-width: 100%;
        max-height: 100%;
    }
    .text-part{
        width: 100%;
        height: 50%;
        position: static;
        margin-right: 0;
    }
    .map-part .text-part .con{
        font-size: 30px;
        line-height: 50px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .map-part .text-part .con img{
        margin-top: 25px;
    }
    #footer{
        bottom: 85px;
    }
    #footer .zhuce{
        font-size: 22px;
        line-height: 36px;
    }
    #footer .zhuce p{
        display: block;
        text-align: center;
    }
    #footer .zhuce img{
        vertical-align: middle;
        width: 30px;
        height: auto;
    }

    .news-area.full{
        height: 100%;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0;
        background: white;
        border-radius: 24px;
    }
    .mult-image-group li .text-button{
        width: 160px;
        font-size: 20px;
        bottom: 4%;
        margin-left: -80px;
    }
	.common-box.rang .swiper-slide img{
		width: 100%;
	}
}